@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

$primary-color: #B28756;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    overflow-x: hidden;
}

@mixin container {
    max-width: 1140px;
    display: flex;
}

@mixin button{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    /*Usar propriedades de largura e tudo mais*/
    background-color: $primary-color;
    padding: 15px 30px;
    border-radius: 15px;
    margin-top: 40px;
    font-size: 12px;
}

header{
    height: 100px;
    background-color: #000;

    .container{
        @include container();
        height: 100px;
        margin: auto;
        align-items: center;

        .logo{
            width: 100px;

            img{
                width: 100px;
                height: 50px;

            }
        }

        .menu{
            flex: 1; /*Todo o espaço restante*/
            display: flex;
            justify-content: flex-end;

            nav{
                ul{
                    display: flex;
                    li{
                        a{
                            color: #fff;
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 14px;
                            padding: 0 10px;
                            display: flex;
                            /*Ou block, permitindo definir altura e ter borda dependendo da altura*/
                            border-bottom: 5px solid #000;
                            /*Para não ficar movendo com o hover*/
                            align-items: center;
                            height: 100px;
                            text-transform: uppercase;
                        }
                        a:hover,
                        .active{
                            border-bottom: 5px solid $primary-color;
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
}

main{

    .banner{
        background-color: #414040;
        background-image: url(../img/icons/bg.jpg);
        background-position: bottom;
        background-size: cover;
        height: calc(100vh - 100px);
        overflow: hidden;

        .sliders{
            width: 1000vw;
            height: 100%;

            .slide{
                width: 100vw;
                height: 100%;
                display: inline-block;
                /*inline-block deixa tudo na mesma linha (inline), mas com as propriedades de altura/largura como se fosse display block*/
                background-color: rgba(0, 0, 0, 0.75);

                .slider-area{
                    height: 100%;
                    width: 100vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1{
                        font-size: 60px;
                        text-transform: uppercase;
                        color: #fff;

                        span{
                            color: $primary-color;
                            font-size: 66px;
                        }
                    }

                    h2{
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 22px;
                        margin-top: 10px;
                    }

                    a{
                        @include button();
                    }

                    a:hover{
                        background-color: #be9361;
                    }
                }
            }
        }

        .sliders-pointers{
            width: 100vw;
            height: 20px;
            position: absolute;
            margin-top: -50px;
            display: flex;
            justify-content: center;
            align-items: center;

            .pointers{
                width: 20px;
                height: 20px;
                border: 2px solid $primary-color;
                border-radius: 50%;
                margin: 0 5px;
                cursor: pointer;
            }

            .pointers:hover,
            .active{
                background-color: $primary-color;
            }
        }
    }

    .default{
        background-color: red;
        padding: 50px 0;

        .section-title,
        .section-desc{
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }

        .section-title{
            font-size: 30px;
        }

        .section-desc{
            font-size: 15px;
            margin: 10px 0 40px 0;
            color: rgb(180, 179, 179)
        }

        .section-body{
            @include container();
            margin: auto;

            .about-us{
                display: flex;

                .aboutus-left{
                    flex: 1;
                    font-size: 18px;
                    line-height: 30px;

                    a{
                        @include button();
                        padding: 10px 50px;
                        border-radius: 20px;
                    }

                    a:hover{
                        background-color: #be9361;
                    }
                }

                .aboutus-right{
                    width: 530px;
                    text-align: center;

                    img{
                        width: 480px;
                        box-shadow: 0 10px 15px rgba(51, 51, 51, 0.418);
                    }
                }
            }

            .services{
                display: flex;
                /*Se não tivesse display flex e max-width do container, bastava usar um text-align*/

                .service{
                    flex: 1;
                    text-align: center;
                    border-right: 1px solid #494949;
                    padding: 15px;

                    img{
                        width: 59px;
                    }

                    h2{
                        text-transform: uppercase;
                        font-size: 20px;
                        margin: 30px 0 10px 0;
                    }

                    p{
                        font-size: 15px;
                        color: #5f5e5e;
                    }
                }

                .service:first-child{
                    border-left: 1px solid #494949;
                }
            }

            .projects{
                display: flex;
                flex-direction: column;
                //margin: auto;
                //Só funciona sem o align o photos
                align-items: center;

                .projects-filters{
                    border: 1px solid #ccc;
                    border-radius: 30px;
                    padding: 0px 30px;
                    padding-top: 5px;
                    background-color: #eee;
                    display: inline-block;

                    li{
                        display: inline-block;
                        text-transform: uppercase;
                        padding: 12px;
                        font-size: 13px;
                        border-left: 1px solid #ccc;
                        border-bottom: 3px solid #eee;
                        cursor: pointer;
                        color: #555;
                    }

                    li:first-child{
                        border-left: 0;
                    }

                    li:hover, .active{
                        border-bottom: 3px solid $primary-color;

                    }
                }

                .photos{
                    width: 100vw;
                    @include container();
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-top: 30px;

                    .photo{
                        width: 280px;

                        .photo-area{
                            width: 260px;
                            margin: 10px;
                            height: 160px;
                            overflow-y: hidden;


                            .photo-desc{
                                position: absolute;
                                width: inherit;
                                height: inherit;
                                background-color: rgba(0, 0, 0, 0.5);
                                color: #fff;
                                display: none;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                h4{
                                    text-transform: uppercase;
                                    font-size: 22px;
                                    font-weight: 600;
                                    margin-bottom: 12px;
                                }

                                p{
                                    text-align: center;
                                }
                            }

                            img{
                                width: inherit;
                                height: inherit;
                            }
                        }

                        .photo-area:hover{

                            .photo-desc{
                                display: flex;
                            }
                        }
                    }
                }

                a{
                    @include button();
                    padding: 15px 50px;
                    border-radius: 20px;
                }
            }
        }
    }

    .light{
        background-color: #f7f7f7;
        color: #000;
    }

    .dark{
        background-color: #000;
        color: #fff;
    }

    .bg{
        background-image: url(../img/icons/bg.jpg);
        background-size: cover;
        background-position: center;
        padding: 0;
        /*Zerando o padding 50px 0 do default*/

        .team-area{
            background-color: rgba(0, 0, 0, 0.75);
            padding: 50px 0;
            /*Recolocando o padding para o bg-color pegar não só a div como "inline", mas todo o bg*/

            .section-body{

                .team{
                    overflow: hidden;
                    max-width: 880px; //280px de cada slide + 20margin
                    margin: auto;


                    .sliders{
                        width: 1000vw; //280px de cada slide + 20margin
                        height: 100%;
            
                        .slide{
                            width: 280px;
                            height: 100%;
                            min-height: 300px;
                            margin-right: 20px;
                            display: inline-block;
                            /*inline-block deixa tudo na mesma linha (inline), mas com as propriedades de altura/largura como se fosse display block*/
                            background-color: #fff;
                            border-radius: 2px;
            
                            .slider-area{
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                color: #000;
                                padding: 30px;
            
                                img{
                                    width: 150px;
                                }
            
                                .team-name{
                                    font-size: 17px;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    margin-top: 25px
                                }

                                .team-work{
                                    margin: 5px 0 25px 0;
                                    font-size: 14px;
                                    color: #4b4b4b;
                                    text-transform: uppercase;

                                }

                                .social{
                                    display: flex;
                                    //flex-wrap: wrap;
                                    //justify-content: center;

                                    a{
                                        display: inline-flex;
                                        color: #fff;
                                        text-decoration: none;
                                        border-radius: 50%;
                                        background-color: #ccc;
                                        padding: 8px;
                                        //@include button();
                                        margin: 0px 3px;
                                        font-size: 18px;
                                    }
                
                                    a:hover{
                                        background-color: #be9361;
                                    }
                                }
                            }
                        }

                    }

                    .sliders-pointers{
                        margin-top: 30px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
            
                        .pointers{
                            width: 20px;
                            height: 20px;
                            border: 2px solid $primary-color;
                            border-radius: 50%;
                            margin: 0 5px;
                            cursor: pointer;
                        }
            
                        .pointers:hover,
                        .active{
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}