@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  overflow-x: hidden;
}

header {
  height: 100px;
  background-color: #000;
}

header .container {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo {
  width: 100px;
}

header .container .logo img {
  width: 100px;
  height: 50px;
}

header .container .menu-burger {
  display: none;
}

header .container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*Todo o espaço restante*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .container .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .menu nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Ou block, permitindo definir altura e ter borda dependendo da altura*/
  border-bottom: 5px solid #000;
  /*Para não ficar movendo com o hover*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  text-transform: uppercase;
}

header .container .menu nav ul li a:hover,
header .container .menu nav ul li .active {
  border-bottom: 5px solid #B28756;
  color: #ccc;
}

main .banner {
  background-color: #414040;
  background-image: url(../img/icons/bg.jpg);
  background-position: bottom;
  background-size: cover;
  height: calc(100vh - 100px);
  overflow: hidden;
}

main .banner .sliders {
  width: 1000vw;
  height: 100%;
}

main .banner .sliders .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  /*inline-block deixa tudo na mesma linha (inline), mas com as propriedades de altura/largura como se fosse display block*/
  background-color: rgba(0, 0, 0, 0.75);
}

main .banner .sliders .slide .slider-area {
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner .sliders .slide .slider-area h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
}

main .banner .sliders .slide .slider-area h1 span {
  color: #B28756;
  font-size: 66px;
}

main .banner .sliders .slide .slider-area h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 10px;
}

main .banner .sliders .slide .slider-area a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  /*Usar propriedades de largura e tudo mais*/
  background-color: #B28756;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 40px;
  font-size: 12px;
}

main .banner .sliders .slide .slider-area a:hover {
  background-color: #be9361;
}

main .banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner .sliders-pointers .pointers {
  width: 20px;
  height: 20px;
  border: 2px solid #B28756;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

main .banner .sliders-pointers .pointers:hover,
main .banner .sliders-pointers .active {
  background-color: #B28756;
}

main .default {
  background-color: red;
  padding: 50px 0;
}

main .default .section-title,
main .default .section-desc {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

main .default .section-title {
  font-size: 30px;
}

main .default .section-desc {
  font-size: 15px;
  margin: 10px 0 40px 0;
  color: #b4b3b3;
}

main .default .section-body {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

main .default .section-body .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .default .section-body .about-us .aboutus-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  line-height: 30px;
}

main .default .section-body .about-us .aboutus-left a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  /*Usar propriedades de largura e tudo mais*/
  background-color: #B28756;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 40px;
  font-size: 12px;
  padding: 10px 50px;
  border-radius: 20px;
}

main .default .section-body .about-us .aboutus-left a:hover {
  background-color: #be9361;
}

main .default .section-body .about-us .aboutus-right {
  width: 530px;
  text-align: center;
}

main .default .section-body .about-us .aboutus-right img {
  width: 480px;
  -webkit-box-shadow: 0 10px 15px rgba(51, 51, 51, 0.418);
          box-shadow: 0 10px 15px rgba(51, 51, 51, 0.418);
}

main .default .section-body .services, main .default .section-body .section-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Se não tivesse display flex e max-width do container, bastava usar um text-align*/
}

main .default .section-body .services .service, main .default .section-body .services .fact, main .default .section-body .section-facts .service, main .default .section-body .section-facts .fact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-right: 1px solid #494949;
  padding: 15px;
}

main .default .section-body .services .service img, main .default .section-body .services .fact img, main .default .section-body .section-facts .service img, main .default .section-body .section-facts .fact img {
  width: 59px;
}

main .default .section-body .services .service h2, main .default .section-body .services .fact h2, main .default .section-body .section-facts .service h2, main .default .section-body .section-facts .fact h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 30px 0 10px 0;
}

main .default .section-body .services .service p, main .default .section-body .services .fact p, main .default .section-body .section-facts .service p, main .default .section-body .section-facts .fact p {
  font-size: 15px;
  color: #5f5e5e;
}

main .default .section-body .services .service:first-child, main .default .section-body .section-facts .service:first-child {
  border-left: 1px solid #494949;
}

main .default .section-body .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .default .section-body .projects .projects-filters {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 0px 30px;
  padding-top: 5px;
  background-color: #eee;
  display: inline-block;
}

main .default .section-body .projects .projects-filters li {
  display: inline-block;
  text-transform: uppercase;
  padding: 12px;
  font-size: 13px;
  border-left: 1px solid #ccc;
  border-bottom: 3px solid #eee;
  cursor: pointer;
  color: #555;
}

main .default .section-body .projects .projects-filters li:first-child {
  border-left: 0;
}

main .default .section-body .projects .projects-filters li:hover, main .default .section-body .projects .projects-filters .active {
  border-bottom: 3px solid #B28756;
}

main .default .section-body .projects .photos {
  width: 100vw;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

main .default .section-body .projects .photos .photo {
  width: 280px;
}

main .default .section-body .projects .photos .photo .photo-area {
  width: 260px;
  margin: 10px;
  height: 160px;
  overflow-y: hidden;
}

main .default .section-body .projects .photos .photo .photo-area .photo-desc {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .default .section-body .projects .photos .photo .photo-area .photo-desc h4 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

main .default .section-body .projects .photos .photo .photo-area .photo-desc p {
  text-align: center;
}

main .default .section-body .projects .photos .photo .photo-area img {
  width: inherit;
  height: inherit;
}

main .default .section-body .projects .photos .photo .photo-area:hover .photo-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .default .section-body .projects a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  /*Usar propriedades de largura e tudo mais*/
  background-color: #B28756;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 40px;
  font-size: 12px;
  padding: 15px 50px;
  border-radius: 20px;
}

main .default .section-body .price-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*.info-price:last-child{
                    margin-right: 0;
                }*/
}

main .default .section-body .price-table .info-price {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 35px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 17px;
}

main .default .section-body .price-table .info-price .table-type {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
}

main .default .section-body .price-table .info-price .table-price {
  font-weight: 700;
  font-size: 30px;
}

main .default .section-body .price-table .info-price .table-month {
  color: #999;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 20px;
}

main .default .section-body .price-table .info-price .table-info {
  font-size: 13px;
}

main .default .section-body .price-table .info-price a {
  background-color: #000;
  color: #fff;
  padding: 15px 35px;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .default .section-body .price-table .info-price a:hover, main .default .section-body .price-table .info-price .active {
  background-color: #B28756;
}

main .default .section-body .section-facts .fact {
  border: none;
}

main .default .section-body .section-facts .fact h1 {
  color: #B28756;
  font-size: 55px;
}

main .default .section-body .section-facts .fact .line-fact {
  margin: auto;
  width: 20px;
  height: 3px;
  background-color: #999;
  margin-bottom: 7px;
}

main .default .section-body .section-facts .fact h2 {
  margin-top: 0;
}

main .default .section-body .section-contact {
  margin: auto;
}

main .default .section-body .section-contact form {
  width: 550px;
  max-width: 550px;
}

main .default .section-body .section-contact form .inputs-name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .default .section-body .section-contact form .inputs-name-email input:first-child {
  margin-right: 20px;
}

main .default .section-body .section-contact form .inputs {
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 0;
  border-bottom: 2px solid #ccc;
  margin-top: 10px;
}

main .default .section-body .section-contact form textarea {
  height: 100px;
  resize: none;
}

main .default .section-body .section-contact form .button-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .default .section-body .section-contact form .button-form input[type=submit] {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  /*Usar propriedades de largura e tudo mais*/
  background-color: #B28756;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 40px;
  font-size: 12px;
  border: 0;
}

main .light {
  background-color: #ededed;
  color: #000;
}

main .dark {
  background-color: #000;
  color: #fff;
}

main .bg {
  background-image: url(../img/icons/bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  /*Zerando o padding 50px 0 do default*/
}

main .bg .team-area {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 50px 0;
  /*Recolocando o padding para o bg-color pegar não só a div como "inline", mas todo o bg*/
}

main .bg .team-area .section-body .team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}

main .bg .team-area .section-body .team .sliders {
  width: 1000vw;
  height: 100%;
}

main .bg .team-area .section-body .team .sliders .slide {
  width: 280px;
  height: 100%;
  min-height: 300px;
  margin-right: 20px;
  display: inline-block;
  /*inline-block deixa tudo na mesma linha (inline), mas com as propriedades de altura/largura como se fosse display block*/
  background-color: #fff;
  border-radius: 2px;
}

main .bg .team-area .section-body .team .sliders .slide .slider-area {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  padding: 30px;
}

main .bg .team-area .section-body .team .sliders .slide .slider-area img {
  width: 150px;
}

main .bg .team-area .section-body .team .sliders .slide .slider-area .team-name {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
}

main .bg .team-area .section-body .team .sliders .slide .slider-area .team-work {
  margin: 5px 0 25px 0;
  font-size: 14px;
  color: #4b4b4b;
  text-transform: uppercase;
}

main .bg .team-area .section-body .team .sliders .slide .slider-area .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .bg .team-area .section-body .team .sliders .slide .slider-area .social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  background-color: #ccc;
  padding: 8px;
  margin: 0px 3px;
  font-size: 18px;
}

main .bg .team-area .section-body .team .sliders .slide .slider-area .social a:hover {
  background-color: #be9361;
}

main .bg .team-area .section-body .team .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bg .team-area .section-body .team .sliders-pointers .pointers {
  width: 20px;
  height: 20px;
  border: 2px solid #B28756;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

main .bg .team-area .section-body .team .sliders-pointers .pointers:hover,
main .bg .team-area .section-body .team .sliders-pointers .active {
  background-color: #B28756;
}

main #feedback .section-body, main .package .section-body {
  max-width: initial;
}

main #feedback .section-body .feedback, main #feedback .section-body .section-package, main .package .section-body .feedback, main .package .section-body .section-package {
  overflow: hidden;
}

main #feedback .section-body .feedback .sliders, main #feedback .section-body .section-package .sliders, main .package .section-body .feedback .sliders, main .package .section-body .section-package .sliders {
  width: 1000vw;
}

main #feedback .section-body .feedback .sliders .slide, main #feedback .section-body .section-package .sliders .slide, main .package .section-body .feedback .sliders .slide, main .package .section-body .section-package .sliders .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
}

main #feedback .section-body .feedback .sliders .slide .slider-area, main #feedback .section-body .section-package .sliders .slide .slider-area, main .package .section-body .feedback .sliders .slide .slider-area, main .package .section-body .section-package .sliders .slide .slider-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main #feedback .section-body .feedback .sliders .slide .slider-area .client-img, main #feedback .section-body .section-package .sliders .slide .slider-area .client-img, main .package .section-body .feedback .sliders .slide .slider-area .client-img, main .package .section-body .section-package .sliders .slide .slider-area .client-img {
  margin-top: 20px;
}

main #feedback .section-body .feedback .sliders .slide .slider-area .client-name, main #feedback .section-body .section-package .sliders .slide .slider-area .client-name, main .package .section-body .feedback .sliders .slide .slider-area .client-name, main .package .section-body .section-package .sliders .slide .slider-area .client-name {
  font-weight: 700;
  font-size: 22px;
  margin: 30px 0 5px 0;
}

main #feedback .section-body .feedback .sliders .slide .slider-area .client-work, main #feedback .section-body .section-package .sliders .slide .slider-area .client-work, main .package .section-body .feedback .sliders .slide .slider-area .client-work, main .package .section-body .section-package .sliders .slide .slider-area .client-work {
  font-weight: 600;
  margin-bottom: 30px;
}

main #feedback .section-body .feedback .sliders .slide .slider-area .opinion, main #feedback .section-body .section-package .sliders .slide .slider-area .opinion, main .package .section-body .feedback .sliders .slide .slider-area .opinion, main .package .section-body .section-package .sliders .slide .slider-area .opinion {
  text-align: center;
  font-size: 14px;
  max-width: 700px;
  color: #555;
  line-height: 25px;
  margin: 15px 30px 0 30px;
}

main #feedback .section-body .feedback .sliders-pointers, main #feedback .section-body .section-package .sliders-pointers, main .package .section-body .feedback .sliders-pointers, main .package .section-body .section-package .sliders-pointers {
  width: 100vw;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

main #feedback .section-body .feedback .sliders-pointers .pointers, main #feedback .section-body .section-package .sliders-pointers .pointers, main .package .section-body .feedback .sliders-pointers .pointers, main .package .section-body .section-package .sliders-pointers .pointers {
  width: 20px;
  height: 20px;
  border: 2px solid #B28756;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

main #feedback .section-body .feedback .sliders-pointers .pointers:hover,
main #feedback .section-body .feedback .sliders-pointers .active, main #feedback .section-body .section-package .sliders-pointers .pointers:hover,
main #feedback .section-body .section-package .sliders-pointers .active, main .package .section-body .feedback .sliders-pointers .pointers:hover,
main .package .section-body .feedback .sliders-pointers .active, main .package .section-body .section-package .sliders-pointers .pointers:hover,
main .package .section-body .section-package .sliders-pointers .active {
  background-color: #B28756;
}

main .enterprises {
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px 22px 40px -4px rgba(0, 0, 0, 0.51);
          box-shadow: 0px 22px 40px -4px rgba(0, 0, 0, 0.51);
}

main .enterprises .section-body .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

main .enterprises .section-body .brands .brand-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .package {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

main .package .section-body .section-package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .package .section-body .section-package .sliders {
  width: 1000vw;
}

main .package .section-body .section-package .sliders .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
}

main .package .section-body .section-package .sliders .slide .slider-area {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
  margin: auto;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-left img {
  width: 350px;
  margin-right: 30px;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-right .container-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-right .container-feature img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-right .container-feature .feature-options {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-right .container-feature .feature-options h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-right .container-feature .feature-options p, main .package .section-body .section-package .sliders .slide .slider-area .package-right .container-feature .feature-options ul {
  color: #555;
  font-size: 14px;
  margin-bottom: 10px;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-right .container-feature .feature-options ul {
  list-style-type: disc;
  margin-bottom: 20px;
}

main .package .section-body .section-package .sliders .slide .slider-area .package-right .container-feature .feature-options ul li {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 25px;
}

main .package .section-body .section-package .button {
  margin: auto;
}

main .package .section-body .section-package .button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  /*Usar propriedades de largura e tudo mais*/
  background-color: #B28756;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 40px;
  font-size: 12px;
  display: inline-block;
}

main .share-midias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-bottom: 1px solid #ccc;
}

main .share-midias .share-icon, main .share-midias .midias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  color: #b4b4b4;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .share-midias .share-icon {
  margin-right: 50px;
}

main .share-midias .share-icon img {
  margin-right: 15px;
}

main .share-midias .share-icon h4 {
  font-size: 14px;
}

main .share-midias .all-midias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .share-midias .all-midias .midias i {
  background-color: darkcyan;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

main .share-midias .all-midias .midias .fa-twitter {
  background-color: #34c6ef;
}

main .share-midias .all-midias .midias .fa-linkedin-in {
  background-color: #127bb4;
}

main .share-midias .all-midias .midias .fa-facebook {
  background-color: #326197;
}

main .share-midias .all-midias .midias .fa-instagram {
  background-color: #cd486b;
}

main .share-midias .all-midias .midias .fa-pinterest {
  background-color: #b71d29;
}

main .share-midias .all-midias .midias h6 {
  margin: 0 35px 0 7px;
  font-size: 13px;
}

main .section-map {
  background-image: url(../img/medias/mapa.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

main .section-map .section-maparea {
  width: 100vw;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

main .section-map .section-maparea .maparea-infos {
  width: 50%;
  background-color: #fff;
  padding: 30px;
}

main .section-map .section-maparea .maparea-infos .infos-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #888;
  margin-bottom: 15px;
  font-size: 14px;
}

main .section-map .section-maparea .maparea-infos .infos-item .icon-infos {
  background-color: #999;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}

main .section-map .section-maparea .maparea-infos .infos-item .icon-infos img {
  width: 15px;
  height: auto;
}

footer {
  background-color: #000;
  padding: 30px;
  color: #fff;
}

footer .footer-area {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

footer .footer-area .footer-social, footer .footer-area .footer-about, footer .footer-area .footer-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer-area .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-area .footer-social i {
  padding: 12px;
  background-color: #444;
  border-radius: 50%;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

footer .footer-area .footer-social i:hover, footer .footer-area .footer-social .active {
  background-color: #B28756;
}

footer .footer-area .footer-social span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

footer .footer-area .footer-about {
  font-size: 14px;
  padding: 0 25px;
  color: #888;
}

footer .footer-area .footer-form {
  background-color: #444;
  border-radius: 5px;
}

footer .footer-area .footer-form form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-area .footer-form form input[type="email"] {
  border: 0;
  height: 40px;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  width: 70%;
  margin-bottom: 20px;
  outline: 0;
  color: #fff;
}

footer .footer-area .footer-form form ::-webkit-input-placeholder {
  text-align: center;
  color: #fff;
}

footer .footer-area .footer-form form :-ms-input-placeholder {
  text-align: center;
  color: #fff;
}

footer .footer-area .footer-form form ::-ms-input-placeholder {
  text-align: center;
  color: #fff;
}

footer .footer-area .footer-form form ::placeholder {
  text-align: center;
  color: #fff;
}

footer .footer-area .footer-form form input[type="submit"] {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  /*Usar propriedades de largura e tudo mais*/
  background-color: #B28756;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 40px;
  font-size: 12px;
  border: 0;
  margin-top: 0;
  width: 50%;
  border-radius: 20px;
  cursor: pointer;
}

footer .footer-area .footer-form form input[type="submit"]:hover {
  background-color: #be9361;
}

@media (max-width: 1200px) {
  header .container .logo {
    margin-left: 30px;
    width: 150px;
  }
  header .container .logo img {
    width: 150px;
  }
  header .container .menu .menu-burger {
    display: block;
    width: 40px;
    margin-right: 30px;
    cursor: pointer;
  }
  header .container .menu nav {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);
    width: 70vw;
    height: calc(100vh - 100px);
    top: 100px;
    right: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .container .menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container .menu nav ul li a {
    font-weight: 700;
    font-size: 28px;
    height: 80px;
    margin-left: 60px;
    border: 0;
  }
  header .container .menu nav ul li .active,
  header .container .menu nav ul li a:hover {
    border: 0;
    color: #B28756;
  }
  main .package .section-body .section-package .sliders .slide {
    height: auto;
  }
}

@media (min-width: 450px) and (max-width: 800px) {
  main .default .section-body .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .default .section-body .about-us .aboutus-right {
    width: auto;
  }
  main .default .section-body .about-us .aboutus-left {
    padding: 50px;
  }
  .section-body .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-body .service {
    min-width: 50%;
    margin-bottom: 20px;
  }
  main .bg .team-area .section-body .team {
    max-width: 580px;
  }
  main .enterprises .section-body .brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .enterprises .section-body .brands .brand-area {
    min-width: 30%;
  }
  main .enterprises .section-body .brands .top3 {
    margin-bottom: 40px;
  }
  main .default .section-body .price-table .info-price {
    min-width: 45%;
    margin: 15px;
  }
  /*main .default .section-body .price-table .info-price:last-child{
        margin-right: 0;
    }*/
  /*Ver se não bugou*/
  main .package .section-body .section-package .sliders .slide {
    height: auto;
  }
  main .package .section-body .section-package .sliders .slide .slider-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .package .package-left {
    overflow: hidden;
  }
  .package .package-right {
    overflow: hidden;
    padding: 60px;
  }
  main .default .section-body .section-facts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }
  .section-facts .fact {
    min-width: 50%;
    margin-bottom: 20px;
  }
  main .share-midias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .share-midias .share-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .all-midias {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .share-midias .all-midias .midias .last-number {
    margin-right: 0;
  }
  main .section-map {
    padding: 30px;
  }
  main .section-map .section-maparea {
    width: auto;
  }
  main .section-map .section-maparea .maparea-infos {
    width: 100%;
  }
  main .section-map .section-maparea .maparea-infos .infos-item:last-child {
    margin-bottom: 0;
  }
  footer {
    padding: 35px;
  }
  footer .footer-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .footer-area .footer-form {
    padding: 50px;
  }
  footer .footer-area .footer-about {
    padding: 0;
    margin: 30px 0;
  }
  footer .footer-area .footer-form form input[type="email"] {
    margin-bottom: 30px;
  }
  footer .footer-area .footer-social .midias-icon {
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  header .container .menu nav ul li a {
    font-size: 21px;
  }
}

@media (max-width: 450px) {
  header .container .menu nav ul li a {
    font-weight: 700;
    font-size: 18px;
    height: 60px;
    margin-left: 30px;
    border: 0;
  }
  main .banner .sliders .slide .slider-area h1 {
    font-size: 30px;
  }
  main .banner .sliders .slide .slider-area h1 span {
    font-size: 33px;
  }
  main .banner .sliders .slide .slider-area h2 {
    font-size: 14px;
  }
  main .default .section-body .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .default .section-body .about-us .aboutus-right {
    width: auto;
    margin: 0 30px;
  }
  main .default .section-body .about-us .aboutus-right img {
    width: 100%;
  }
  main .default .section-body .about-us .aboutus-left {
    padding: 30px;
  }
  .section-body .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-body .service {
    min-width: 100%;
    margin-bottom: 20px;
  }
  main .default .section-body .projects .projects-filters {
    margin: 0 30px;
  }
  main .default .section-body .projects .photos .photo {
    width: 320px;
  }
  main .default .section-body .projects .photos .photo .photo-area {
    width: 300px;
    height: 190px;
  }
  main .bg .team-area .section-body .team {
    max-width: 280px;
  }
  main .enterprises {
    padding: 0;
  }
  main .enterprises .section-body .brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .enterprises .section-body .brands .brand-area {
    min-width: 100%;
    margin-bottom: 60px;
  }
  main .enterprises .section-body .brands .brand-area:first-child {
    margin-top: 60px;
  }
  /*main .enterprises .section-body .brands .top3{
        margin-bottom: 40px;
    }*/
  main .enterprises .section-body .brands .brand-area img {
    width: 40%;
  }
  main .default .section-body .price-table .info-price {
    min-width: 45%;
    margin: 15px;
  }
  main .default .section-body .price-table .info-price .table-price {
    font-size: 50px;
  }
  main .default .section-body .price-table .info-price .table-type {
    font-size: 22px;
  }
  main .default .section-body .price-table .info-price .table-month,
  main .default .section-body .price-table .info-price .table-info {
    font-size: 18px;
  }
  main .default .section-body .price-table .info-price a {
    font-size: 20px;
    padding: 18px 40px;
  }
  main .package .section-body .section-package .sliders .slide {
    height: auto;
  }
  main .package .section-body .section-package .sliders .slide .slider-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .package .package-left {
    overflow: hidden;
    padding-bottom: 0;
  }
  main .package .section-body .section-package .sliders .slide .slider-area .package-left img {
    margin-right: 0;
  }
  .package .package-right {
    overflow: hidden;
    padding: 30px;
  }
  main .default .section-body .section-facts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }
  .section-facts .fact {
    min-width: 100%;
    margin-bottom: 20px;
  }
  main .share-midias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .share-midias .share-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .all-midias {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .share-midias .all-midias .midias .last-number {
    margin-right: 0;
  }
  main .default .section-body .section-contact form {
    width: 85vw;
  }
  main .default .section-body .section-contact form .inputs-name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .default .section-body .section-contact form .inputs-name-email input:first-child {
    margin-right: 0;
  }
  /*
    main .default .section-body .section-contact form .inputs-name-email input{
        flex-wrap: wrap;
        width: 100%;
    }*/
  main .section-map {
    padding: 0px;
  }
  main .section-map .section-maparea {
    width: auto;
    padding-bottom: 300px;
  }
  main .section-map .section-maparea .maparea-infos {
    width: 100%;
  }
  main .section-map .section-maparea .maparea-infos .infos-item:last-child {
    margin-bottom: 0;
  }
  footer {
    padding: 35px;
  }
  footer .footer-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .footer-area .footer-form {
    padding: 50px 0;
  }
  footer .footer-area .footer-about {
    padding: 0;
    margin: 30px 0;
  }
  footer .footer-area .footer-form form input[type="email"] {
    margin-bottom: 30px;
  }
  footer .footer-area .footer-social .midias-icon {
    margin-bottom: 10px;
  }
}

/*
.comments{
    padding: 0;
    
    .feedbacks{
        padding: 50px 0;

        .clients{

            .sliders{
                width: 1000vw;
                height: 100%;
    
                .slide{
                    width: 100vw;
                    height: 100%;
                    display: inline-block;
                    /*inline-block deixa tudo na mesma linha (inline), mas com as propriedades de altura/largura como se fosse display block*/
/*
                    .slider-area{
                        height: 100%;
                        width: 100vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
        }
    }
}*/
/*# sourceMappingURL=style.css.map */